/*
    This file is a stripped combined version from bootstrap AND mvpready so that his style can be used in emails and reports that do not have access to the internet
    The idea is to keep self contained. Any time there is a change in the UI design of the website, it should be mirrored here.
*/
	*{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    body {
        margin: 0;
    }
    html {
        font-family: sans-serif;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
    table {
        border-spacing: 0;
        border-collapse: collapse;
    }
    td, th {
        padding: 0;
    }
    b, strong {
        font-weight: bold;
    }
    a {
        background-color: transparent;
    }
    *::before, *::after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .portlet-body {
        padding: 0;
    }
    .portlet {
        padding: 0px;
        margin-bottom: 4em;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    /* @media all and (min-width:768px) */
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    /* @media all and (min-width:768px) */
    .col-sm-12 {
        width: 100%;
    }
    /* @media all and (min-width:992px) */
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    /* @media all and (min-width:992px) */
    .col-md-12 {
        width: 100%;
    }
    .layout {
        /*margin-top: -40px;*/ /* commented this out so in the email it wouldnt go over other text when replying or forwarding */
        margin-left: -15px;
        margin-right: -15px;
    }
    .layout::before, .layout::after {
        content: " ";
        display: table;
    }
    .layout::after {
        clear: both;
    }
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    /* @media all and (min-width:1200px) */
    .container {
        width: 1024px;
    }
    .clearfix::before, .clearfix::after, .dl-horizontal dd::before, .dl-horizontal dd::after, .container::before, .container::after, .container-fluid::before, .container-fluid::after, .row::before, .row::after, .form-horizontal .form-group::before, .form-horizontal .form-group::after, .btn-toolbar::before, .btn-toolbar::after, .btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after, .nav::before, .nav::after, .navbar::before, .navbar::after, .navbar-header::before, .navbar-header::after, .navbar-collapse::before, .navbar-collapse::after, .pager::before, .pager::after, .panel-body::before, .panel-body::after, .modal-footer::before, .modal-footer::after {
        display: table;
        content: " ";
    }
    .clearfix::after, .dl-horizontal dd::after, .container::after, .container-fluid::after, .row::after, .form-horizontal .form-group::after, .btn-toolbar::after, .btn-group-vertical > .btn-group::after, .nav::after, .navbar::after, .navbar-header::after, .navbar-collapse::after, .pager::after, .panel-body::after, .modal-footer::after {
        clear: both;
    }
    .content {
        position: relative;
        margin-bottom: 2em;
    }
    body {
		line-height: 1.4285;
        color: #333;
        background-color: #fff;
        padding: 0;
        margin: 0;
        font-family: ""Open Sans"", ""Trebuchet MS"", arial, sans-serif;
        font-size: 14px;
        padding-top: 50px;
        padding-bottom: 20px;
	}
    html {
        font-size: 10px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    html, body {
        height: 100%;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
    }
    h4, .h4, h5, .h5, h6, .h6 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h5, .h5 {
        font-size: 14px;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        margin-top: 0px;
        margin-bottom: 0.75em;
        font-family: "Oswald";
    }
    .text-primary {
        color: #337ab7;
    }
    .text-primary, .text-primary:hover {
        color: #d74b4b;
    }
    table {
        background-color: transparent;
    }
    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .table-bordered {
        border: 1px solid #ddd;
    }
    .table-bordered thead tr, .table-bordered tfoot tr {
        background-color: #f2f2f2;
        background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #eeeeee 100%);
        background-image: linear-gradient(to bottom, #f9f9f9 0%, #eeeeee 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffeeeeee', GradientType=0);
    }
	
    table tfoot tr td {
        font-weight: bold;
    }
    th {
        text-align: "";
    }
    .qvi-col-priority {
        width: 75px;
    }
    .qvi-col-type {
        width: 75px;
    }
    .qvi-col-status {
        width: 100px;
    }
    .qvi-col-version {
        width: 120px;
    }
    .qvi-col-trackingid {
        width: 75px;
    }
    table td[class*='col-'], table th[class*='col-'] {
        position: static;
        display: table-cell;
        float: none;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 8px;
        line-height: 1.4285;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }
    .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
    }
    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 1px solid #ddd;
    }
    a {
        color: #337ab7;
        text-decoration: none;
    }
    .table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
        border-bottom-width: 2px;
    }
    .table-bordered thead tr th, .table-bordered tfoot tr th {
        color: #444;
        font-size: 12px;
        font-weight: 800;
        background-color: transparent;
        border-bottom-width: 1px;
        vertical-align: middle;
    }
    .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
        border-top: 0;
    }

.portlet-title,
.content-title {
  position: relative;
  display: block;
  margin-bottom: 1.35em;
  border-bottom: 1px solid #e3e3e3;
}
.portlet-title u,
.content-title u {
  display: inline-block;
  position: relative;
  top: 1px;
  padding-right: 1em;
  padding-bottom: 15px;
  color: #444;
  text-decoration: none;
  border-bottom: 1px solid #6685a4;
}
.